{% extends "layout.html" %}

{% block title %}Profile | {{ super }}{% endblock %}
{% block js_fc_datepicker %}
  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
{% endblock js_fc_datepicker %}

{% block body %}
<form method="POST" action="{% url 'accounts:edit_profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.media }}
    {{ user_form.as_p }}
    {{ profile_form.media }}
    {{ profile_form.as_p }}
    <input type="submit" class="button-primary" value="Save Profile">

</form>

<!--=====================================
 FORM MODAL
=====================================-->
<div class="modal fade text-dark" id="register" tabindex="-1" role="dialog" aria-labelledby="register form" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#537d7b">
        <h5 class="modal-title" id="exampleModalLabel" style="color: white">Edit Your Avatar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Registeration Form -->
          <div class="profile-img">
            <img id="image" class= "img-fluid rounded d-none d-sm-block" src="" alt="editing profile picture..."/>
          </div>
          <hr class="my-4">
          <div class="row">
            <div class="col-sm-2">
              <button type="button" class="button-primary js-crop-toggler fas fa-crop fa-lg" data-toggle="button" aria-pressed="true" autocomplete="off"></button>
            </div>
            <div class="col-sm-2">
              <button type="button" class="button-primary js-flip-V-toggler fas fa-arrows-alt-v fa-lg" data-toggle="button" aria-pressed="false" autocomplete="off"></button>
            </div>
            <div class="col-sm-2">
              <button type="button" class="button-primary js-flip-h-toggler fas fa-arrows-alt-h fa-lg" data-toggle="button" aria-pressed="false" autocomplete="off"></button>
            </div>
            <div class="col-sm-2">
              <button type="button" class="button-primary js-rotate-left fas fa-undo fa-lg"></button>
            </div>
            <div class="col-sm-2">
              <button type="button" class="button-primary js-rotate-right fas fa-redo fa-lg"></button>
            </div>
          </div>
          <hr class="my-4">
          <div class="row">
            <div class="col-sm-4">
              <button type="button" class="button-primary js-save-settings text-sm">Save Settings</button>
            </div>
            <div class="col-sm-2">
              <button type="button" class="button-secondary text-sm" data-dismiss="modal">Cancel</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block javascript %}
  <script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $('#id_avatar').on('click touchstart' , function(){
        $(this).val('');
      });

      $("#id_avatar").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#register").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#register").on("shown.bs.modal", function () {
        $(image).cropper({
          checkOrientation: false,
          zoomable: false,
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 100,
          minCropBoxHeight: 100,
          ready: function () {
            {#$image.cropper("setCanvasData", canvasData);#}
            {#$image.cropper("setCropBoxData", cropBoxData);#}
            //$image.cropper("clear");
          }
        });
      }).on("hidden.bs.modal", function () {
        {#cropBoxData = $image.cropper("getCropBoxData");#}
        {#canvasData = $image.cropper("getCanvasData");#}
        $image.cropper("destroy");
      });
      $(".js-rotate-left").click(function () {
        $image.cropper("rotate", -90);
      });

      $(".js-rotate-right").click(function () {
        $image.cropper("rotate", 90);
      });

      //Crop Toggler
      function crop_off() {
        $image.cropper("clear");
        $(this).one("click", crop_on);
      }
      function crop_on() {
        $image.cropper("crop");
        $(this).one("click", crop_off);
      }
      $(".js-crop-toggler").one("click", crop_off);

      //Flip-H Toggler
      function flip_h_off() {
        $image.cropper("scaleX", 1);
        $(this).one("click", flip_h_on);
      }
      function flip_h_on() {
        $image.cropper("scaleX", -1);
        $(this).one("click", flip_h_off);
      }
      $(".js-flip-h-toggler").one("click", flip_h_on);

      //Flip-V Toggler
      function flip_v_off() {
        $image.cropper("scaleY", 1);
        $(this).one("click", flip_v_on);
      }
      function flip_v_on() {
        $image.cropper("scaleY", -1);
        $(this).one("click", flip_v_off);
      }
      $(".js-flip-V-toggler").one("click", flip_v_on);

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-save-settings").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#id_rotate").val(cropData["rotate"]);
        $("#id_scaleX").val(cropData["scaleX"]);
        $("#id_scaleY").val(cropData["scaleY"]);
        $('#register').modal('hide')
        {#$("#formUpload").submit();#}
      });

    });
  </script>

{% endblock %}