{% extends "layout.html" %}

{% block title %}Sign Up | {{ super }}{% endblock %}

{% block body %}
{#<form method="POST" action="{% url 'accounts:sign_up' %}">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" class="button-primary" value="Sign Up">#}
{#</form>#}

<form method="POST" action="{% url 'accounts:sign_up' %}">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
        <p>
        {{ field.label_tag }}
        {{ field.errors }}
        {{ field }}
        {% if field.help_text %}
            <span class="helptext">{{ field.help_text }}</span>
        {% endif %}
      </p>
    {% endfor %}
    <input type="submit" class="button-primary" value="Sign Up">
</form>
{% endblock %}