{% extends 'layout.html' %}
{% block body %}
    <div class="grid-25">

    </div>
    <div class="grid-75">
        <h2 class="display-2">Welcome To Profile System!</h2>
        <p class="lead">Make your self a profile. It's easy and beautiful.</p>
        <div class="pl-4">
        <ul><span class="display-4">We Have:</span>
          <li>Rich Formatted-Text for Biography</li>
          <li>Date Pickers widgets for date fields</li>
          <li>Avatar Editor</li>
          <li>Change Password Option</li>
          <li>Password Strength Meter</li>
        </ul>
        </div>
        <hr m-2>
        <p>We have cheerfully built this system to ease your organization members profile, Please Feel free to contact for any new feature requests or help.</p>
    </div>
{% endblock %}
